html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.App {
  text-align: center;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.weather-layout {
  display: flex;
  justify-content: space-between;
  background-color: rgb(167, 214, 233);
  width: 100%;
  padding: 8rem 4rem;
  flex: 1;
  overflow: hidden;
}

.current-weather {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
}

.current-weather h2,
.current-weather h4,
.current-weather p {
  margin: 0;
  cursor: pointer;
}

.current-weather button {
  align-self: center;
}

.forecast-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.weather-table {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin-bottom: 10px;
  border-collapse: collapse;
}

.weather-table th,
.weather-table td {
  text-align: center;
  padding: 2px 4px;
  line-height: 1;
  border: none;
}

.weather-table i {
  vertical-align: middle;
  font-size: 1.5em;
}

.chart-container {
  width: 80%;
  height: 100%;
  max-height: 300px;
}

.signature {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 1em;
  color: white;
}

@media (max-width: 768px) {
  .weather-layout {
    flex-direction: column;
    align-items: center;
  }

  .current-weather,
  .forecast-container,
  .weather-table {
    width: 100%;
    height: 100%;
  }

  .current-weather {
    padding: 0px;
    margin: 5px;
    max-height: 100px;
  }

  .current-weather button {
    display: none;
  }

  .weather-table th,
  .weather-table td {
    padding: 1px 2px;
    font-size: 0.8em;
  }

  .weather-table i {
    font-size: 1.2em;
  }

  .chart-container {
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 180px;
  }

  .weather-table i {
    font-size: 1.5em;
  }

  .signature {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9em;
    color: white;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .chart-container {
    max-height: 150px;
  }
  .weather-layout {
    padding: 0rem 2rem;
    padding-bottom: 2rem;
  }
  .current-weather p {
    font-size: 0.8em;
  }

  .current-weather button {
    display: none;
  }

  .weather-table {
    height: 70%;
    max-height: 60vh;
  }

  .weather-table th,
  .weather-table td {
    padding: 6px 4px;
    font-size: 1em;
  }

  .weather-table i {
    font-size: 1em;
    padding-top: 0.6rem;
  }

  .signature {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8em;
    color: white;
    margin-top: 10px;
  }
}
